extends ./partials/base

block body
    menu-btns
    custom-modal
    game-section        
    
    script. 
        const DATA = {
            "dataJson" : !{JSON.stringify(dataJson)},
            "PLATFORMS" : !{JSON.stringify(PLATFORMS)},
            "CATEGORY" : !{JSON.stringify(CATEGORY)},
            "installedArr" : !{JSON.stringify(installedArr)},
            "playLaterArr" : !{JSON.stringify(playLaterArr)},
            "wishlistArr" : !{JSON.stringify(wishlistArr)}
        };